DB_URL=postgresql+psycopg2://dronix_user:dronix_password@127.0.0.1:15432/drones
API_HOST=0.0.0.0
API_PORT=8000
MAVLINK_DEVICE=SIM
MAVLINK_BAUD=115200
DRON_VISION_ENABLED=0
CAMERA_ENABLED=0
ADMIN_USERNAME=admin
ADMIN_PASSWORD=cambiar_esta_contrasena
WS_PING_INTERVAL=15
WS_PING_TIMEOUT=10
